@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poor Story', cursive;
    overflow: hidden;
    margin: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
    padding: 0 30px;    
}

.slide{
    height: 80vh;
    margin: 0 15px;
    border-radius: 15px;
    cursor: pointer;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}

.slide h3{
    margin: 0;
    position: absolute;
    font-size: 20px;
    color: antiquewhite;
    text-shadow: 1px 1px 12px black;
    left: 10px;
    bottom: 10px;
    opacity: 0;
}

.slide.active{
    flex: 10;
}

.slide.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* https://codepen.io/Unreasonable324/pen/XWYKVvj */